{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>IRIS</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'main/css/responsive.css' %}">
      <!-- fevicon -->
      <link rel="icon" href="{% static 'main/images/fevicon.png' %}" type="image/gif" />
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="{% static 'main/css/owl.carousel.min.css' %}">
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="{% static 'main/css/bootstrap-datepicker.min.css' %}">

      <script src="https://cdnjs.cloudflare.com/ajax/libs/annyang/2.6.1/annyang.min.js"></script>


      <script>
        const speech = new SpeechSynthesisUtterance();
        window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
        const recognition = new window.SpeechRecognition();
        annyang.addCommands({
          'logout': function() {
            speech.text = 'logouting';
            document.getElementById('logout').click();
            window.speechSynthesis.speak(speech);
          },
          
          'home':function(){
           speech.text="loading home page";
           document.getElementById('home').click()
           window.speechSynthesis.speak(speech)
          }
          
        });
        speech.text = 'Welcome to the IRIS,Lets say what is IRIS ,"The only thing worse than being blind is having sight but no vision."famous quotes said by Helen Keller. Now You can say logout for logout, home for go to home page';
        window.speechSynthesis.speak(speech);
        annyang.start();
        recognition.start();
        recognition.onresult = function(event) {
          const speech = event.results[event.resultIndex][0].transcript;
          annyang.trigger(speech);
        };
      </script>
      
   </head>
   <!-- body -->
   <body class="main-layout inner_page">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="{% static 'main/images/loading.gif' %}" alt="#"/></div>
      </div>
      <!-- end loader -->
      <div class="full_bg">
         <!-- header -->
         <header class="header-area">
            <div class="container">
               <div class="row d_flex">
                  <div class=" col-md-3 col-sm-3">
                     <div class="logo">
                        <a href="{% url 'main' %}">IRIS</a>
                     </div>
                  </div>
                  <div class="col-md-9 col-sm-9">
                     <div class="navbar-area">
                        <nav class="site-navbar">
                           <ul>
                              <li><a id="home" href="{% url 'main' %}">Home</a></li>
                              <li><a class="active" href="{% url 'about' %}">About</a></li>
                              <li><a id="logout" href="{% url 'logout' %}">Logout</a></li>   
                           </ul>
                           <button class="nav-toggler">
                           <span></span>
                           </button>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </header>
         <!-- end header inner -->
      </div>
      <!-- end banner -->
       <!-- about -->
       <div class="about">
         <div class="container_width">
            <div class="row d_flex grig">
               <div class="col-md-6">
                  <div class="about_img">
                     <figure><img src="{% static 'main/images/about_img.jpg' %}" alt="#"/>
                     </figure>
                  </div>
               </div>
               <div class="col-md-6 order">
                  <div class="titlepage text_align_left">
                     <h2>About Our IRIS</h2>
                     <p>"The only thing worse than being blind is having sight but no vision." ~ Helen Keller</p>
                     
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end about -->

      <!-- Javascript files-->
      <script src="{% static 'main/js/jquery.min.js' %}"></script>
      <script src="{% static 'main/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'main/js/jquery-3.0.0.min.js' %}"></script>
      <script src="{% static 'main/js/owl.carousel.min.js' %}"></script>
      <script src="{% static 'main/js/bootstrap-datepicker.min.js' %}"></script>
      <script src="{% static 'main/js/custom.js' %}"></script>
   </body>
</html>