{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="{% static 'css/styleb.css.css' %}"/>
    <title>Book Store</title>
    <!-- <script>
      if ('SpeechRecognition' in window || 'webkitSpeechRecognition' in window) {
        } else {
        alert('Web Speech API is not supported');
        }
        
        const recognition = new window.webkitSpeechRecognition();

        recognition.lang = 'en-US'; // Set the language for speech recognition
       
        recognition.start();
        
        function stopRecognition() {
        recognition.stop();
        }
      function bodyread(){
            // Create a new instance of SpeechSynthesisUtterance
            var utterance = new SpeechSynthesisUtterance();

            // Set the text to be spoken to the full content of the webpage
            utterance.text = document.body.textContent;

            // Set the language of the voice
            utterance.lang = 'en-US';

            // Start speaking the text
            window.speechSynthesis.speak(utterance);
        }
    </script>
     -->
    
  </head>
  <!-- <body onfocus="bodyread()"> -->
    <body>
    <!-- begin header section  -->
    <header class="header">
      <main class="header-1">
        <a href="#" class="logo"> <i class="fas fa-book"></i>AUDIO BOOK STORE</a>
        <form action="" class="search-form">
          <input
            type="search"
            class="search-box"
            placeholder="search for...."
          />
          <label for="search-box" class="fas fa-search"></label>
        </form>
      
      </main>
      <main class="header-2">
        <nav class="nav-bar">
          <a href="#home">Home</a>
          <a href="#featured">Books</a>
          <!-- <a href="#arrivals">categories</a> -->

          <!-- <select name="subject" multiple>
            <option >Math</option>
            <option >English</option>
            <option >Science</option>
            <option >Biology</option>
            </select> -->
            
          
          
          {% if user.is_authenticated %}

          <a href="{% url 'logout' %}">Logout</a>
          <a href="{% url 'main' %}">Go to Home Page</a>
          <a href="{% url 'quiz' %}">Quiz</a>

          <a style="color: #fff;">Welcome Back {{request.user.username}}</a>
          {% else %}
        </nav>
        {% endif %}
      </main>
    </header>
    <!-- end header section -->

    <!-- footer begin -->
    <div class="aside">
      <a href="#home" class="fas fa-home"></a>
      <a href="#featured" class="fas fa-list"></a>
      <a href="#arrivals" class="fas fa-tags"></a>
      <a href="#reviews" class="fas fa-comments"></a>
      <a href="#blogs" class="fas fa-blogs"></a>
    </div>
    <!-- footer end -->
    
    <!-- home section begin  -->
    <section id="home" class="section home">
      <main class="row">
        <div class="content">
          <h3>IRIS World of Books</h3>
          <p>
            A book is a garden, an orchard, a storehouse, a party, a company by the way, a counselor, a multitude of counselors.
          </p>
         
        </div>
        <div class="swiper books-slider">
          <div class="swiper-wrapper">
            <a href="#" class="swiper-slide"
              ><img src="{% static 'images/book-1.png' %}" alt="book"
            /></a>
            <a href="#" class="swiper-slide"
              ><img src="{% static 'images/book-2.png' %}" alt="book"
            /></a>
            <a href="#" class="swiper-slide"
              ><img src="{% static 'images/book3.png' %}" alt="book"
            /></a>
            <a href="#" class="swiper-slide"
              ><img src="{% static 'images/book-4.png' %}" alt="book"
            /></a>
            <a href="#" class="swiper-slide"
              ><img src="{% static 'images/book-5.png' %}" alt="book"
            /></a>
            <a href="#" class="swiper-slide"
              ><img src="{% static 'images/book-6.png' %}" alt="book"
            /></a>
          </div>
          <img src="{% static 'images/stand.png' %}" class="stand" alt="stand" />
        </div>
      </main>
    </section>
    <!-- home section end  -->


    
        <!-- reviews section starts  -->

        <section class="reviews" id="reviews">
          <h1 class="heading reviews-heading"><span>FIND YOURS...!!!</span></h1>
    
          <div class="swiper reviews-slider">
            <div class="swiper-wrapper">
              {% for i in gen %}
              <a href="{% url 'gencustomize' i.id %}">
                <div class="swiper-slide box">
                  <img src="{{i.genimg.url}}" alt="" />
                  <h3>{{i.genre}}</h3>
                  <p>
                    {{i.gendesc}}
                  </p>
                  
                </div>
              </a>
              {% endfor %}
              
               
              </div>
            </div>
          </div>
        </section>

        
         <section class="reviews" id="reviews">
          <h1 class="heading reviews-heading"><span>FIND YOUR LANGUAGE</span></h1>
    
          <div class="swiper reviews-slider">
            <div class="swiper-wrapper">
              {% for j in lan %}
              <a href="{% url 'langcustomize' j.id %}">
             
                <div class="swiper-slide box">
                  <img src="{{j.langimg.url}}" alt="" />
                  <h3>{{j.language}}</h3>
                  <p>
                    {{j.langdesc}}
                  </p>
                  
                </div>
              </a>
              {% endfor %}
               
              </div>
            </div>
          </div>
        </section> 
    
        <!-- reviews section ends -->
   

    <!-- section featured begin  -->
    <section class="featured" id="featured" >
      <h1 class="heading"><span>Audible Books</span></h1>
      <div class="swiper featured-slider" style="display: flex;">
      
       
        {% for s in obj %}
        <div class="swiper-slide box">
            <!-- <div class="icons">
              <a href="#" class="fas fa-star"></a>
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="fas fa-shopping-cart"></a>
            </div> -->
            <div class="image">
              <img style="height: 200px;" src="{{s.img.url}}"/>
            </div>
            <div class="content">
              <h3>{{s.name}}</h3>
              <div class="price">{{s.author}}</div>
              
              <audio id="{{s.id}}" controls>
                <source  src="{{s.audio.url}}" type="audio/ogg">
                <!-- <source src="{{i.audio.url}}" type="audio/mpeg"> -->
                </audio>
                <button onclick="playAudio('{{s.id}}')">Play</button>
                <button onclick="pause('{{s.id}}')">Pause</button>
                <button onclick="stop('{{s.id}}')">Stop</button>
                <button onclick="resume('{{s.id}}')">Resume</button>
                
                <script>
                  var currentAudio = null;
                  function playAudio(audioId) {
                    const audio = document.getElementById(audioId);
                    if (currentAudio && !currentAudio.paused) {
                      currentAudio.pause();
                    }
                    currentAudio = audio;
                    audio.play();
                  }
                  function play(id){
                    var audio = document.getElementById(id);
                    audio.play();
                  }
                  function pause(id){
                    var audio = document.getElementById(id);
                    audio.pause();
                  }
                  function stop(id){
                    var audio = document.getElementById(id);
                    audio.pause();
                    audio.currentTime = 0;
                  }
                  function resume(id){
                    var audio = document.getElementById(id);
                    audio.play();
                  }
                </script>
           
              <!-- <a href="#" class="btn">add to cart</a> -->
            </div>
          </div>
        <div class="swiper-button-next"></div>
        {% endfor %}
        <div class="swiper-button-prev"></div>
      </div>
    </section>



    
    <!-- section featured end  -->



    
    <!-- loader begin -->
    <div class="loader-container">
      <img src="{% static 'images/loader2.gif' %}" alt="loader">
    </div>
      <!-- loader end -->
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="js/annyang.min.js"></script>
    <script>
      if (annyang) {
        // Let's define our first command. First the text we expect, and then the function it should call
        var commands = {
          'play audio': function() {
           document.getElementById("playAudio('{{s.id}}')").play();
          },
          'pause audio': function() {
           document.getElementById("pause('{{s.id}}')").pause();
          },
          'resume audio': function() {
           document.getElementById("resume('{{s.id}}')").resume();
          },
          'stop audio': function() {
           document.getElementById("stop('{{s.id}}')").stop();
          }

        };
      
        // Add our commands to annyang
        annyang.addCommands(commands);
      
        // Start listening. You can call this here, or attach this call to an event, button, etc.
        annyang.start();
      }
      </script>
    
  </body>
</html>
