{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <script>

      function bodyread(){
         // Create a new instance of SpeechSynthesisUtterance
         var utterance = new SpeechSynthesisUtterance();

         // Set the text to be spoken to the full content of the webpage
         utterance.text = document.body.textContent;

         // Set the language of the voice
         utterance.lang = 'en-US';

         // Start speaking the text
         window.speechSynthesis.speak(utterance);
     }
    
   </script>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>IRIS</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'main/css/responsive.css' %}">
      <!-- fevicon -->
      <link rel="icon" href="{% static 'main/images/fevicon.png' %}" type="image/gif" />
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="{% static 'main/css/owl.carousel.min.css' %}">
      <link rel="stylesheet" href="{% static 'main/https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' %}">
      <link rel="stylesheet" href="{% static 'main/css/bootstrap-datepicker.min.css' %}">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/annyang/2.6.1/annyang.min.js"></script>

    <script>
      const speech = new SpeechSynthesisUtterance();
      window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
      const recognition = new window.SpeechRecognition();
      annyang.addCommands({
        'logout': function() {
          speech.text = 'logouting';
          document.getElementById('logout').click();
          window.speechSynthesis.speak(speech);
        },
        'about':function(){
         speech.text="loading about";
         document.getElementById('about').click()
         window.speechSynthesis.speak(speech)
        },
        'book':function(){
         speech.text="loading book";
         document.getElementById('book').click()
         window.speechSynthesis.speak(speech)
        },
        'q':function(){
         speech.text="loading quiz";
         document.getElementById('quiz').click()
         window.speechSynthesis.speak(speech)
        }
        
      });
      speech.text = 'Welcome to the home page. say logout for logout, about for about, book for read book and q for quiz section';
      window.speechSynthesis.speak(speech);
      annyang.start();
      recognition.start();
      recognition.onresult = function(event) {
        const speech = event.results[event.resultIndex][0].transcript;
        annyang.trigger(speech);
      };
    </script>

   </head>
   <body>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="{% static 'main/images/loading.gif' %}" alt="#"/></div>
      </div>
      <!-- end loader -->
      <div class="full_bg">
         <!-- header -->
         <header class="header-area">
            <div class="container">
               <div class="row d_flex">
                  <div class=" col-md-3 col-sm-3">
                     <div class="logo">
                        <a href="{% url 'main' %}">IRIS</a>
                     </div>
                  </div>
                  <div class="col-md-9 col-sm-9">
                     <div class="navbar-area">
                        <nav class="site-navbar">
                           <ul>
                              {% if user.is_authenticated %}
                              <li><a class="active" href="{% url 'main' %}">Home</a></li>
                              <li><a id="about" href="{% url 'about' %}">About</a></li>
                              <li><a id="logout" href="{% url 'logout' %}">Logout</a></li>
                              <a style="color: hsl(0, 4%, 5%); font-size: 150%;">Welcome Back {{request.user.username}}</a>
                              {% else %}
                             
                            
                           </ul>
                           {% endif %}
                           <button class="nav-toggler">
                           <span></span>
                           </button>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </header>
         <!-- end header inner -->
         <!-- top -->
         
               <div class="carousel-inner">
                  <!-- first slide -->
                  <div class="carousel-item active">
                     <div class="container">
                        <div class="carousel-caption relative">
                           <div class="row d_flex">
                              <div class="col-md-5">
                                 <div class="creative">
                                    <h1>VISION <br>World </h1>
                                    <p>“Life is either a daring adventure or nothing at all.”
                                       ― Helen Keller,</p>
                                    <a id="book" class="read_more" href="{% url 'book' %}">BOOK</a>
                                    <a id="quiz" class="read_more" href="{% url 'quiz' %}">QUIZ</a>
                                    
                                 </div>
                              </div>
                              <div class="col-md-7">
                                 <div class="row mar_right">
                                    <div class="col-md-6">
                                       <div class="agency">
                                          <figure><img src="{% static 'main/images/book.jpg' %}" alt="#"/></figure>
                                         
                                       </div>
                                    </div>
                                    <div class="col-md-6">
                                       <div class="agency">
                                          <figure><img src="{% static 'main/images/quiz.webp' %}" alt="#"/></figure>
                                          
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                
                  
               <!-- controls -->
               <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
               <i class="fa fa-angle-left" aria-hidden="true"></i>
               <span class="sr-only">Previous</span>
               </a>
               <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
               <i class="fa fa-angle-right" aria-hidden="true"></i>
               <span class="sr-only">Next</span>
               </a>
            </div>
         </div>
      
      <!-- end banner -->
     
      
      <!-- priceing -->
      <div class="priceing">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage text_align_center">
                     <h2>VISION WORLD</h2>
                     <p>“Although the world is full of suffering, it is full also of the overcoming of it.”
                        ― Helen Keller</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-10 offset-md-1">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="our_priceing text_align_center">
                           <div class="our_pri">
                              <h3>BOOKS</h3>
                              
                              <p>"When I look back, I am so impressed again with the life-giving power of literature. If I were a young person today, trying to gain a sense of myself in the world, I would do that again by reading, just as I did when I was young." – Maya Angelou</p>
                           </div>
                           
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="our_priceing text_align_center">
                           <div class="our_pri">
                              <h3>QUIZ</h3>
                              
                              <p>“Faith is more than getting a theological quiz right. Faith is to know, to assent, to put your trust in, and to cherish what is true.” ~ Kevin DeYoung</p>
                           </div>
                           
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end priceing -->
      
      
      <!-- about -->
      <div class="about">
         <div class="container_width">
            <div class="row d_flex grig">
               <div class="col-md-6">
                  <div class="about_img">
                     <figure><img src="{% static 'main/images/about_img.jpg' %}" alt="#"/>
                     </figure>
                  </div>
               </div>
               <div class="col-md-6 order">
                  <div class="titlepage text_align_left">
                     <h2>About Our IRIS</h2>
                     <p>"The only thing worse than being blind is having sight but no vision." ~ Helen Keller</p>
                     
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end about -->

      
     
       
  

      
      <!-- Javascript files-->
      <script src="{% static 'main/js/jquery.min.js' %}"></script>
      <script src="{% static 'main/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'main/js/jquery-3.0.0.min.js' %}"></script>
      <script src="{% static 'main/js/owl.carousel.min.js' %}"></script>
      <script src="{% static 'main/js/bootstrap-datepicker.min.js' %}"></script>
      <script src="{% static 'main/js/custom.js' %}"></script>
   </body>
   </body>
</html>