{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Simple Quiz App</title>
	<link rel="stylesheet" type="text/css" href="{% static 'qstyle.css' %}">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/annyang/2.6.1/annyang.min.js"></script>


    <script>
      const speech = new SpeechSynthesisUtterance();
      window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
      const recognition = new window.SpeechRecognition();
      annyang.addCommands({
        'logout': function() {
          speech.text = 'logouting';
          document.getElementById('logout').click();
          window.speechSynthesis.speak(speech);
        },
        'book':function(){
         speech.text="gettings to book world";
         document.getElementById('book').click()
         window.speechSynthesis.speak(speech)
        },
        'home':function(){
         speech.text="loading home page";
         document.getElementById('home').click()
         window.speechSynthesis.speak(speech)
        },
        
        'q':function(){
         speech.text="loading quiz";
         document.getElementById('quiz').click()
         window.speechSynthesis.speak(speech)
        }
        
      });
      speech.text = 'Welcome to the quiz ,lets get some general knowledge. say logout for logout,book for books, home for home page';
      window.speechSynthesis.speak(speech);
      annyang.start();
      recognition.start();
      recognition.onresult = function(event) {
        const speech = event.results[event.resultIndex][0].transcript;
        annyang.trigger(speech);
      };
    </script>
	
</head>
<body>
	<nav class="navbar">
		<div class="navbar-container">
			<a href="#" class="navbar-logo">Simple Quiz App</a>
			<ul class="nav-menu">
				{% if user.is_authenticated %}
				<li><a id="home" href="{% url 'main' %}">Home</a></li>
				<li><a id="logout" href="{% url 'logout' %}">Logout</a></li>
				<li><a id="book" href="{% url 'book' %}">Book</a></li>
				<a style="color: hsl(0, 4%, 5%); font-size: 100%;">Welcome Back {{request.user.username}}</a>
                {% else %}
			</ul>
			{% endif %}
		</div>
	</nav>
	
	<div class="container">
		<h1>Simple Quiz App</h1>
		<form id="quiz-form" method="post" action="{% url 'quiz_results' %}">
			{% csrf_token %}
			{% for question in questions %}
			<div class="question" data-correct-answer="{{ question.correct_answer }}">
				<h3>{{ forloop.counter }}. {{ question.question_text }}</h3>
				<label>
					<input type="radio" name="question{{ question.id }}" value="{{ question.choice1 }}">
					a) {{ question.choice1 }}
				</label>
				<label>
					<input type="radio" name="question{{ question.id }}" value="{{ question.choice2 }}">
					b) {{ question.choice2 }}
				</label>
				<label>
					<input type="radio" name="question{{ question.id }}" value="{{ question.choice3 }}">
					c) {{ question.choice3 }} 
				</label>
				<p class="correct-answer">Correct answer: {{ question.correct_answer }}</p>
			</div>
			{% endfor %}
            <button type="submit" id="submit">Submit</button>
        </form>
    </div>
	
	
	
	<script src="{% static 'quiz.js' %}"></script>
</body>
</html>
